[submodule "SafeInt"]
	path = SafeInt
	url = https://github.com/dcleblanc/SafeInt
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "2/googletest"]
	path = 2/googletest
	url = https://github.com/google/googletest
[submodule "2/SafeInt"]
	path = 2/SafeInt
	url = https://github.com/dcleblanc/SafeInt
